{% extends 'base.html' %}
{% load staticfiles %}
<head>

    <title>{% block title %}foreCas{% endblock %}</title>


</head>

{% block main-body %}

    <div class="header container-fluid">
        <div class="row">
            <div class="col-sm-6"><h4>Grain Yield Prediction and Advisory</h4></div>
        </div>
        <div class="col-sm-6">

        </div>

    </div>
    <div class="main">
        <div class="row mid">
            <div class="col-sm-6 left-container">
                <div class="row" style="margin-top:15px; padding: 8px 20px;">
                    <div class="col-sm-6 text-right" style="padding-top: 8px;">
                        <label>
                            Choose Crop
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <select data-placeholder="Choose Crop" class="chosen-select" id="crop-selector"
                                tabindex="7">
                            <option value=""></option>
                            <option value="maize">Maize Crop</option>
                            <option value="wheat">Wheat Crop</option>


                        </select>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 right-container">
                <div id="aside">
                    <div id="temp" style="height: 300px">
                    </div>

                    <div class="row divider-container">
                        <div id="divider"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center" id="title">
                            <span>Rainfall Trend of the  region</span></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block Javascript %}
    <script type="text/javascript">
        {% comment %}  $.ajax({
        url: "{% url 'location' %}",
        type: 'GET' ,
        success: function (json) {

        }
      });{% endcomment %}

        $('#crop-selector').on('change', function () {
            var crop_name = this.value;
            $.ajax({
                url: "getData",
                type: 'POST',
                data: {'crop_name': crop_name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    alert(data.result);

                }

            });
        });


        {% comment %}  $(function () {
              {% if user.is_authenticated %}
                  alert("Helooo ")

                  {% else %}
                  alert("Not uthenticated")
              {% endif %}
          }){% endcomment %}


        Highcharts.chart('temp', {

            title: {
                text: 'Tempearture Of the Region For one Year',

                style: {
                    color: '#FF00FF',
                    fontWeight: 'bold'

                }
            },

            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                title: {
                    text: 'Months'
                    //align: 'center'
                }
            },

            series: [
                {
                    name: 'maxTemp',
                    data: [{% for maxTemp in maxTemp %}{{ maxTemp }}, {% endfor %}]

                },
                {
                    name: 'avgTemp',
                    data: [{% for avgTemp in avgTemp %}{{ avgTemp }}, {% endfor %}]

                },
                {
                    name: 'minTemp',
                    data: [{% for minTemp in minTemp %}{{ minTemp }}, {% endfor %}]

                }

            ]
        });
    </script>


{% endblock %}