.navbar{
    border-radius: 0px;
}
/*footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background: #262626;
}*/
#topnav{
    padding-bottom: 0px;
}
/*#main_old-body{
    padding-top: -5%;
}*/
.main-row{
    margin-top: -3%;
    padding-top: 0px;
}
.graphs{
 padding: 7px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 background-color: #f5f5f5;
 border: 1px solid #e3e3e3;
 margin-top: 15px;

}
.info{
    margin-top: 15px;
}
.user{
    float: right;
}
.header{
 padding-top:8px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
 background-color: #79AEC8;
 border: 1px solid #e3e3e3;

}
.web-name{
    color: #F5DD5D;
    background:#417690 ;
    padding: 15px;
}
.visible-xs{
    background:#417690 ;
}
.navbar-toggle .icon-bar {
    background-color:#F5DD5D;
}
#active a{
    background:#417690 ;
}/*
79AEC8*/
nav-stacked li a:hover{
    background:#79AEC8;
}
body{
    background: #F8F8F8;
    margin: 0;

}
#user{
    float: right;
}
.user{
    padding-right: 12px;
}
#myNavbar li {
    background: #79AEC8;
    padding: 5px 0px;
}
#myNavbar li a{
    color: #000000;
}

  .graphs{
        width: 100%;
        height: 400px;
    }
  .container-fluid{
      padding-right: 0px;
      padding-left: 5px;
      margin: 0px;
  }
  .header{
   padding-left: 10px;
      height: 60px;

  }
#menu{
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
     }
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.navigation{
    padding-right: 0px;
    padding-left: 0px;
}
.nav-stacked li a{
    border-radius: 0px;
}
.nav-stacked li{
    line-height: 15px;
}
#aside{
    height: 400px;
    background-color: #1b6d85;
    width: 100%;
}
.right-container{
    padding: 15px 0px;

}
.left-container{
    padding-right: 0px;
    padding-left: 0px;
}
.meta-div{
    width: 100%;
    height: 350px;
    background-color: #262626;
}
